@model WardrobeMVC.Models.Accessories2

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Accessories</h4>
    <hr />
</div>
<div class="row">
    <div class="col-md-12">
        <div class="thumbnail details-thumb">

            <div class="caption">
                <p><b>@Html.DisplayFor(model => model.Name)</b></p>
                <p>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)</p>
                <p>@Html.DisplayNameFor(model => model.Color): @Html.DisplayFor(model => model.Color)</p>
                <img class="details-photo" src="@Html.DisplayFor(model => model.Photo)" />
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.AccessoryID }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>
</div>